<div class="header">
    <a href="#default" class="logo">Hello Bank</a>
    <div class="header-right">
        <!-- <a mat-button [matMenuTriggerFor]="menu">Apply Loan</a> -->
        <!-- <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['/loan']" [queryParams]="{ page: 1 }">Education loan</button>
          <button mat-menu-item [routerLink]="['/loan']" [queryParams]="{ page: 2 }">Home loan</button>
        </mat-menu> -->
        <a [routerLink]="['/loan']">Apply Loan</a>
        <a href="#">Logout</a>
    </div>
  </div>